<h1>Pant #<%= @pant.id %></h1>

<p>
  <b>Image:</b>
  <%= image_tag @pant.image_url, width: 300 %>
</p>

<p>
  <b>Name:</b>
  <%= @pant.name %>
</p>

<p>
  <b>Product ID:</b>
  <%= @pant.product_id %>
</p>

<p>
  <b>Color:</b>
  <%= @pant.color %>
</p>

<p>
  <b>Size:</b>
  <%= @pant.size %>
</p>
