<h1>Listing comments</h1>

<%= link_to 'New Comment', new_comment_path %>

<br><br>

      <% @comments.order('created_at DESC').all.each do |comment| %>

      <h4><%= comment.name %> | <%= comment.created_at.strftime("%A, %d %B %Y") %></h4>

      <p><%= comment.body %></p>

        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<hr>
    <% end %>



