# <%= form_for(@outfit) do |o| %>
#   <% if @outfit.errors.any? %>
#     <div id="error_explanation">
#       <h2><%= pluralize(@outfit.errors.count, "error") %> prohibited this outfit from being saved:</h2>


#       <%= o.radio_button :shirt_top_id, shirt_top.id %>
#       <%= o.label "shirt_top_id_#{shirt_top.id}" %>

#       <%= o.radio_button :pant_id, pant.id %>
#       <%= o.label "shirt_top_id_#{pant_top.id}" %>

#       <%= o.radio_button :shoe_id, shoe.id %>
#       <%= o.label "shirt_top_id_#{shoe_top.id}" %>

#       <ul>
#       <% @outfit.errors.full_messages.each do |msg| %>
#         <li><%= msg %></li>
#       <% end %>
#       </ul>
#     </div>
#   <% end %>

#   <div class="actions">
#     <%= o.submit %>
#   </div>
# <% end %>
