<h1>Listing of Saved Outifts</h1>

<table>
  <thead>
    <tr>
      <th>Outfit ID:</th>
      <th>Date:</th>
      <th>Shirt/Top:</th>
      <th>Pant:</th>
      <th>Shoe:</th>
    </tr>
  </thead>

  <tbody>
    <% @outfits.each do |outfit| %>
      <tr>
        <td><%= outfit.id %></td>
        <td><%= outfit.date %></td>
        <td><%= image_tag outfit.shirt_top.image_url, width: 125 %></td>
        <td><%= image_tag outfit.pant.image_url, width: 125 %></td>
        <td><%= image_tag outfit.shoe.image_url, width: 125 %></td>

      <td><%= link_to 'Show', outfit_url(outfit) %></td>
      <td><%= link_to 'Edit', edit_outfit_url(outfit) %></td>
      <td><%= link_to 'Destroy', outfit_url(outfit), method: 'delete', data: { confirm: "Do you really want to delete this outfit?" } %></td>
    <% end %>
  </tbody>
</table>

<br>


