 <script>
    $(function() {
     $(".selectable").click(function() {
       $(this).toggleClass('ui-selected');
     });
    });
 </script>

   <style>
  .ui-selected { border: 5px solid blue; }
  </style>


<h2>Randomize a New Outfit</h2>
<%= link_to "<button>Custom</button>".html_safe, new_outfit_url, :id => "button_id", :class => "button_class" %>

 <%= form_tag(outfits1_url, :method => :get) do %>
<table>
  <thead>
    <tr>
      <th><h4>The Shirt/Top you should wear:</h4></th>
      <th><h4>The Pants you should wear:</h4></th>
      <th><h4>The Shoes you should wear:</h4></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <%= check_box_tag :shirt_top_id, @shirt_top.id %>
        <%= label_tag "shirt_top_id_#{@shirt_top.id}", (image_tag @shirt_top.image_url, width: 300, class: "index_img selectable") %></td>

      <td><%= check_box_tag :pant_id, @pant.id %>
        <%= label_tag "pant_id_#{@pant.id}", (image_tag @pant.image_url, width: 300, class: 'index_img selectable') %></td>

      <td><%= check_box_tag :shoe_id, @shoe.id %>
        <%= label_tag "shoe_id_#{@shoe.id}", (image_tag @shoe.image_url, width: 300, class: 'index_img selectable') %></td>
    </tr>
  </tbody>
</table>
<h4><%= submit_tag "Or else click the item(s) you like and continue to randomize the rest!", :class => 'btn'  %></h4>
    <% end %>

<h4><%= link_to "Yes, I'll wear the whole outfit; save it!", outfits_url(:outfit=>{:shirt_top_id => @shirt_top.id, :pant_id => @pant.id, :shoe_id => @shoe.id}), method: :post, :class => 'btn' %></h4>
<h4><%= button_tag link_to "Give me an entire new combo.", method: :index, :class => 'btn' %></h4>




