<h3>Pick a Shirt:</h3>
<div class = 'shirt-top'>
  <% @shirt_tops.each do |shirt_top| %>
    <div class="shirt-tops">
      <%= image_tag shirt_top.image_url, width: 178, class: 'item-img' %>
      <%= link_to "Select" %>
    </div>
  <% end %>
  <div class="clearfix"></div>
</div>

<h3>Pick a Pant:</h3>
  <div>
    <% @pants.each do |pant| %>
      <div class='pants'><%= image_tag pant.image_url, width: 178, class: 'item-img' %>
      <%= link_to "Select" %></div>
    <% end %>
    <div class="clearfix"></div>
 </div>

<h3>Pick a Shoe:</h3>
 <div>
  <% @shoes.each do |shoe| %>
 <div class = 'shoes'><%= image_tag shoe.image_url, width: 178, class: 'item-img' %>
 <%= link_to "Select" %></div>
  <% end %>
  <div class="clearfix"></div>
</div>

