<h1>Outfit #<%= @outfit.id %></h1>

    <td><%= image_tag @outfit.shirt_top.image_url, width: 250 %></td>
    <td><%= image_tag @outfit.pant.image_url, width: 250 %></td>
    <td><%= image_tag @outfit.shoe.image_url, width: 250 %></td>

      <div>
      <strong><p>Outfit Consists of:</p></strong>
      <p>Shirt/Top: <%= @outfit.shirt_top.name %> </p>
      <p>Pant: <%= @outfit.pant.name %> </p>
      <p>Shoe: <%= @outfit.Shoe.name %> </p>
      <div>
