<h1>User #<%= @user.id %></h1>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Height:</b>
  <%= @user.height %> inches
</p>

<p>
  <b>Weight:</b>
  <%= @user.weight %> lbs.
</p>

<p>
  <b>Body Type:</b>
  <%= @user.body_type %>
</p>
