<h1>Listing posts</h1>

<%= link_to 'New Post', new_post_path %>

<br>
 <% Post.tag_counts.each do |tag| %>
<%= link_to tag.name, tag_path(tag.name), class: "blog_tags" %>
<% end %>
<br>

      <% @posts.order('created_at DESC').all.each do |post| %>

      <h4><%= post.created_at.strftime("%A, %d %B %Y") %></h4>

      <h2><%= link_to post.title, post_url(post) %></h2>

      <h4>Authored by: <%= post.author %></h4>
      <br>
      <%= post.body %>
      <br>
      <%= image_tag post.blog_post_pics.url %>
      <br>
      Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
<br><br>
      <div class = "border">
      <i class="icon-facebook icon-large blog_icons"></i>
      <i class="icon-google-plus icon-large blog_icons"></i>
      <i class="icon-twitter icon-large blog_icons"></i>
      <% link_text = "#{pluralize(post.comments.count, 'Comment')}" %>
      <%= link_to link_text, post, class: "float" %>
      </div>

<br><br>

<% end %>






