<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', posts_path %>

   <h4><%= @post.created_at.strftime("%A, %d %B %Y") %></h4>

   <h2><%= @post.title %></h2>

  <h4>Authored by: <%= @post.author %></h4>

  <%= @post.body %>

  <%= image_tag @post.blog_post_pics.url %>

<br><br>
  <div class = "border">
      <i class="icon-facebook icon-large blog_icons"></i>
      <i class="icon-google-plus icon-large blog_icons"></i>
      <i class="icon-twitter icon-large blog_icons"></i>
      <div class= "float"><%= @post.comments.count %> <%= 'Comments' %></div>
  </div>
  <br>

<%= render :partial => '/comments/form', :comment => @comment %>

<br>
<% if @post.comments.count == 1 %>
<h4><%= @post.comments.count %> COMMENT</h4>
<br>
<% else %>
<h4><%= @post.comments.count %> COMMENTS</h4>
<br>
<% end %>


<% @post.comments.each do |comment| %>
<h4><%= comment.name.upcase %> | <%= comment.created_at.strftime("%A, %d %B %Y") %></h4>
<%= comment.body %>
<br><br>
<% end %>

<br><br><br><br>
