<h1>Shirt/Top #<%= @shirt_top.id %></h1>

<p>
  <b>Image:</b></p>
  <p><%= image_tag @shirt_top.image_url, width: 300 %>
</p>

<p>
  <b>Name:</b>
  <%= @shirt_top.name %>
</p>

<p>
  <b>Product ID:</b>
  <%= @shirt_top.product_id %>
</p>

<p>
  <b>Color:</b>
  <%= @shirt_top.color %>
</p>

<p>
  <b>Size:</b>
  <%= @shirt_top.size %>
</p>

      <td><%= link_to 'Edit', edit_shirt_top_url(@shirt_top) %></td>
      <td><%= link_to 'Destroy', shirt_top_url(@shirt_top), method: 'delete', data: { confirm: "Do you really want to delete this shirt_top?" } %></td>
