<h1>New Shoe</h1>


<%= form_tag(shoes_url, method: 'post') do %>

   <div>
    <%= hidden_field :user_id, current_user.id  %>
  </div>

  <div>
    <%= label_tag :image_url, 'Image URL' %><br />
    <%= text_field_tag :image_url %>
  </div>

  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </div>

  <div>
    <%= label_tag :product_id, 'Product No.' %><br />
    <%= text_field_tag :product_id %>
  </div>

  <div>
    <%= label_tag :color %><br />
    <%= text_field_tag :color %>
  </div>

  <div>
    <%= label_tag :size %><br />
    <%= text_field_tag :size %>
  </div>

  <div>
    <%= submit_tag "Create Shoe" %>
  </div>
<% end %>
