<h1>Shoe #<%= @shoe.id %></h1>

<p>
  <b>Image:</b>
  <%= image_tag @shoe.image_url, width: 300 %>
</p>

<p>
  <b>Name:</b>
  <%= @shoe.name %>
</p>

<p>
  <b>Product ID:</b>
  <%= @shoe.product_id %>
</p>

<p>
  <b>Color:</b>
  <%= @shoe.color %>
</p>

<p>
  <b>Size:</b>
  <%= @shoe.size %>
</p>

