<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Dressme</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.2/simplex/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.css">


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to 'DressMe', root_url, class: 'brand' %>
        <div class="nav-collapse">
          <ul class="nav">

            <li><%= link_to "Home", "/outfits" %></li>
            <li><%= link_to "Users", "/users" %></li>
            <li><%= link_to "Random", "/outfits1" %></li>
            <li><%= link_to "Custom", "/outfits/new" %></li>
            <li><%= link_to "Outfits", "/outfits2" %></li>
            <li><%= link_to "Shirt Tops", "/shirt_tops1" %></li>
            <li><%= link_to "Pants", "/pants1" %></li>
            <li><%= link_to "Shoes", "/shoes1" %></li>
            <li><%= link_to "Dress Codes", "/dress_codes" %></li>
            <li><%= link_to "Blog", "/posts" %></li>
            <li><%= link_to "Comments", "comments" %></li>
            <li><%= link_to "About", "/about" %></li>

          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="container">
    <% if current_user.present? %>
      Signed in as <%=current_user.name %>.
      <%= link_to "Sign Out", session_url, :method => 'delete' %>
    <% else %>
      <%= link_to "Sign In", new_session_url %>
      <% end %>

    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">&times;</a>
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>

  </div>

</body>
</html>
